@font-face {
	font-family: 'IBM';
	src: url('../images/WebPlus_IBM_MDA.woff');
}

#threejs-container {
  width:300px;
  height: 300px;
  border: 0px solid black;
}

body {
  text-align: center;
  padding: 50px;
  font-family: 'IBM', sans-serif;
  font-size:75px;
  background-color: #ba494a;
  transition: background-color 0.25s ease-in-out;
  color: #ffff;
  display: flex;            
  flex-direction: column;   
  justify-content: center;   
  align-items: center;       
  min-height: 75vh;        
  margin: 0;                 
}

button {
  display:inline-block;
  cursor:pointer;
  font-family: 'IBM', sans-serif;
  font-size: 24px;
  border-radius: 10px;
  border-width: 3.5px;
  color: #ffffff;
  background-color: #ba494a;
  box-shadow: 0 7px #999;
}

button:active{
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#timeControlContainer {
  margin-top: 30px;
  display:flex;
  gap: 10px
}

.controlButton{
  background-color: #ffff;
  color: rgb(186, 73, 73);
}


.skipButton{
  background-color: #ffff;
  pointer-events: none;
  opacity: 0;
  transition: opacity .25s ease-in-out; 
  color: rgb(186, 73, 73);
  width: 50px
}

.wakeButton{
  visibility: visible;
  background-color: #ffff;
  color: rgb(186, 73, 73);
  width: 50px
}

.wakeButton i {
  font-size: 1.2rem;
}

.controlButton.on{
  box-shadow: 0 3px #666;
  transform: translateY(4px);
  transition: 0.25s ease-in-out; 
}

.pomodoroButton {
  padding:20px 20px;
  background-color: rgb(186, 73, 73)
}

.shortBreakButton {
  padding:20px 20px;
  background-color:rgb(76,145,150);
}

.longBreakButton{
  padding:20px 20px;
  background-color:rgb(57,112,151);
}
